@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

:root {
    --font-integral: "Integral", "Integral Fallback", sans-serif;
    --font-satoshi: "Satoshi", sans-serif;
}

h1, h2, {
    font-family: var(--font-integral)
}

h3, h4, h5, h6{
    font-family: var(--font-satoshi);
}

/* Animation of file Reviews.jsx */
@keyframes slide-in-left {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-left {
  animation: slide-in-left 0.5s ease-in-out forwards;
}

.animate-slide-in-right {
  animation: slide-in-right 0.5s ease-in-out forwards;
}